extends ../base.pug

block content
  video(controls width="1024" src=`../${video.video}`)
  div
    p=video.description
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit Video &rarr;
  br
  a(href=`${video.id}/delete`) Delete Video &rarr;